.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.contnav{
  position: fixed;
  z-index: 1;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 600px) {
  .contnav{
    width: 100vh;
  }
}

.parrafo{
  margin: auto;

}


.misionvision{
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  font-size: 1.3rem;
}
.misionvision-title{
  font-size: 2.3rem;
}
.quote-background{
  background-color: rgb(205, 90, 44);
  margin-top: 5rem;
}

.madre{
  font-style: italic;
  
}

.quote-mark{
  font-size: 3.5rem;
}

.frase{
  font-size: 2.3rem;
}
.quienes-somos{
  font-size: 1.3rem;
}
.quienes-somos-title{
  font-size: 2.3rem;
}